body {
    font-family: 'Arial', sans-serif;
    background-color: #282c34;
    color: #61dafb;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

h1, h2, h3 {
    text-align: center;
}

header {
    padding: 20px;
    background-color: #20232a;
}

.summary, .skills, .experience {
    padding: 20px;
    border: 2px solid #61dafb;
    margin: 20px;
    border-radius: 10px;
    background-color: #282c34;
}

h2 {
    border-bottom: 2px solid #61dafb;
    padding-bottom: 10px;
}

.loader {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #61dafb;
}

.job {
    margin: 15px 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px;
    background-color: #20232a;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
